.paginationBttns {
    width: 80%;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    a {
        padding: 5px;
        margin: 5px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        cursor: pointer;

    }
    a:hover {
        background-color: rgb(44, 2, 2);
    }
}

.castList {
    color: white;
    list-style: none;
    li {
        display: inline-block;
        margin: 4px;
        padding: 4px;
        border: 1px solid rgb(255, 255, 255);
    }
}

.resultsContainer {
    margin-top: 20px;
    padding-left: 5px;
}

.displayedResults {
    width: 58vw;
    margin: 5px;
    padding: 4px;
    border: 1px solid rgb(255, 255, 255);
}

.inlineList {
    list-style: none;
    li {
        display: inline-block;
        margin: 1px;
        padding: 1px;
        margin-right: 40px;
    }
}

.moviePoster {
    height: 50%;
}

#outlined-basic {
    color: white;
    border-image: linear-gradient(to top, rgb(75, 14, 14), black) 3;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, rgb(75, 14, 14), black) 3;
    ::placeholder {
        color: rgb(255, 255, 255);
        opacity: 1; /* Firefox */
    }
}

.searchContainer {
    color: white;
    border-image: linear-gradient(to bottom, rgb(75, 14, 14), black) 3;
    border: 3px solid transparent; 
    border-image: linear-gradient(to top, rgb(75, 14, 14), black); 
    border-image-slice: 1;
}